/* ====table of content =====  */
/*
---------------------------------------------
1.general
2.navbar
3.banner
4.about
5.services
6.portfolio
7.contact
8.footer
-----------------------------------------------
*/

/* 1.general  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* background color  */
    --secondary-color:#f77949;
    --bg-blue:#37418e;
    --bg-white:#fff;
    --bg-dark-blue:#292b70;
    --bg-gray:#ecf0f9;

    /* text color */
    --text-black:#1f1f1f;
    --text-blue:#1f294c;
    --text-gray:#6d6e7b;
    --text-white:#fff;

    /* font  */
    --primary-font:"Open Sans", sans-serif;

}

body{
    font-family: var(--primary-font);
    /* background-image: url('../images/page-background.jpg');  */
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: initial;
    overflow-x: hidden; /*Overflow content is clipped if necessary to fit horizontally in the elements' padding box. No scroll bars are provided.*/

}

/* 1 custom css  */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color:var(--bg-gray);
}

::-webkit-scrollbar-thumb{
    background:var(--secondary-color);
}

section{
    padding: 50px 0;
}

.main-btn{
    display: inline-block;
    border-radius: 26px;
    transition: 0.2s;
    padding: 10px 37px;
    background-color: var(--secondary-color);
    color: var(--bg-white);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 17px;
    text-decoration: none;
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    &:hover{
        background-color: var(--bg-blue);
        color: var(--bg-white);
    }

}

h1{
    font-size: 70px;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--text-blue);
    margin-bottom:16px;
}


h2{
    font-size: 45px;
    line-height: 64px;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--text-blue);
    margin-bottom:15px;
    letter-spacing: 0;
}

h3{
    font-size: 25px;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--text-blue);
    margin-bottom:15px;
    letter-spacing: 0;
}

p{
    color: var(--text-gray);
    font-size: 15px;
    line-height: 28px;
    font-size: normal;
    font-weight: 400;
}

a{
    display: inline;
    text-decoration: none;
}
/*
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button{
    border-color: var(--secondary-color) !important;
    outline: none !important;
    box-shadow: none !important;
}
*/
/* ===================navbar ================ */

.header_wrapper .navbar{ /*for supporting all kind animation*/
    transition: all 0.2 linear;
    
    -moz-transition:all 0.2 linear;
    -webkit-transition: all 0.2 linear;
    -o-transition: all 0.2 linear;

}

.header_wrapper .navbar-brand img{
    max-width: 150px;
    height: auto;
}

.header_wrapper .navbar .navbar-toggler{
    border: none;
}
.header_wrapper .navbar .navbar-toggler:focus{
    box-shadow: none;
}

.header_wrapper .navbar .nav-item{
    margin: 0 10px;
}
.header_wrapper .navbar .nav-item .nav-link{
    font-size: 17px;
    font-weight: 700;
    color: var(--bg-blue);
    font-family: var(--primary-font);
    text-transform: uppercase;
}


.header_wrapper .navbar .nav-item .nav-link.active{
    color: var(--secondary-color);
}

.header-scrolled{
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: var(--bg-white);
    box-shadow: 0 4px 6px 0 rgba(12,.0,46,0.5);
}




/*now for */
/*=================== 3.banner ================ */
.banner_wrapper{
    margin-top: 70px;
}

/*=================== 4.about================  */
/*=================== 5.services ===============  */
.services_wrapper h3 span{
    color: var(--secondary-color);
}

.services_wrapper .service-phone{
    max-width: 70%;
}

/* ===================blog=======================  */
.blog_wrapper .newsletter_wrapper{
    background-color: var(--bg-blue);
}



.blog_wrapper .form-class input{
    background-color: var(--bg-blue);
}


.blog_wrapper input::placeholder{
color: var(--bg-white);
}

.blog_wrapper a{
    color: var(--text-blue);
    text-decoration: none;
}

.blog_wrapper .date,
.blog_wrapper .card a:hover{
    color: var(--secondary-color);
}

.blog_wrapper .form-class form input{
    color: var(--bg-white);
} 

/*================== 6.contact =============== */
.contact_wrapper input,
.contact_wrapper textarea{
background-color: var(--bg-white);
border-color: var(--secondary-color);
color: var(--bg-gray);
font-size: 15px;
font-weight: 400;
padding: 15px 32px 15px 21px;
}




/*================== 8.footer  ==============  */
.footer_wrapper{
    background-color: var(--bg-dark-blue);
}


.footer_wrapper a{
    color: var(--text-white);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.footer_wrapper a:hover{
    color: var(--secondary-color);
}